<br>

<p> Questions have been answered! </p>

<p> You scored <%= @num_correct_answers%> out of <%= State.count %> in 
  <%= @quiz_time %> seconds <p>

<p> Check your email address for the detailed results. </p>