    
<div class = "jumbotron">
  <ul>
    <li class = "region"><%= link_to "Canada", states_canada_path%></li>
    <li class = "region"><%= link_to "United States", states_united_states_path %></li>
    <!-- <li class = "region"><%= link_to "Mexico", states_path%></li>
    <li class = "region"><%= link_to "U.S. Islands", states_path%></li> -->
  </ul>

</div>
   