    
<div class = "jumbotron question">
  <ul>
    <li class = "region"><%= link_to "Canadian Provinces", states_canada_path%></li>
    <li class = "region"><%= link_to "The States", states_united_states_path %></li>
    <!-- <li class = "region"><%= link_to "Mexico", states_path%></li>
    <li class = "region"><%= link_to "The Islands", states_path%></li> -->
  </ul>

</div>
   