<div id="conteneur" style = "width:100%; margin: 0;">

      <div id="centre">
      <h1>Test your geographical knowledge!</h1>

        <h2>Objective</h2>
          <p>This is a quiz where you will be asked for the capitals of countries across the world's continents.</p>
          <p>Choose a region of the world from the navbar, and answer a series of questions where you fill in the blank with the capital city of that country/state.</p>
          <h2>Instructions</h2>
          <p>When you sign-up for this quiz, you get one chance to submit your answers. Once you click the submit button, you're done. You lose access to the questions, and you will receive an email of your results.</p>
          <p> IMPORTANT: Answers typed into a box will only be saved when the enter key is pressed.
      </div>
    <div id="pied"></div>

</div>
