// Place all the styles related to the States controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.region{
  margin-right: 15%;
  text-align: center;
  list-style: none;
  color: black;
  font-family: Impact, Charcoal, sans-serif;
}

.home-loc{
  margin-right: 20%;
}

.submit-loc{
   margin-right: 20%;
}

.btn-default{
  color: white !important;
  background: blue !important;
}